.Vacancies{
    padding:5em 0 0;
}

.Vacancies h2{
    font-weight: 100;
}

/*container*/
.Vacancies .vacancies-container{
    width: 100%;
    padding: 5em 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*img*/
.Vacancies img{
    width: calc(45% - 1em);
    max-height: 100%;
}
/*accordion*/

.accordion.accordion-flush{
    width: calc(50% - 1em);
    margin: 3em 0;
}

/*accordion body*/
.accordion-body h6{
    font-weight: 100;
}
.accordion-body ul li{
    opacity: .85;
    font-weight: 100;
    list-style:inside;
}


.accordion-button,
.accordion-button:not(.collapsed){
    background: none;
    color: var(--bs-white)
}
.accordion-button:focus{
    border: none;
    box-shadow: none;
}

.accordion-item{
    background: none;
}

.Faq.container .accordion-button:after,
.accordion-button:not(.collapsed)::after,
.accordion-button::after{
    background-image: url("/public/images-dev/general/arrow.svg") !important;
    width: 12px;
    height: 12px;
    background-size: 12px;
}
