.FooterBottom{
    margin-top: 3em;
    padding: 2em 0;
    position: relative;
    display: flex;
    justify-content: center;
}

.FooterBottom h6{
    font-weight: 100;
}

.footer-dots-img{
    position: absolute;
    bottom: 0;
    left: 0;
}
